@media (max-width: 1024px) {
  .nav-link {
    font-size: 0.9rem;
  }

  .nav-menu {
    gap: 0.8rem;
  }

  .container.nav-container {
    padding: 0;
    gap: 0.5rem;
  }

  .footer__content {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer__logo img {
    margin-left: 0;
    width: 140px;
  }

  .hero-content {
    margin-left: 5rem;
  }
}

@media (max-width: 1280px) {
  #services {
    height: auto;
  }

  .hero-content {
    margin-left: 7rem;
  }
}

@media (max-width: 992px) {
  .hero-content h1 {
    font-size: 2.5rem;
  }
  
  .hero-content p {
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) {
  .about__content {
    flex-direction: row;
    align-items: center;
  }
  
  .about__image {
    max-width: 40%;
  }
}

@media (max-width: 768px) {
  .mobile-menu-toggle {
    display: block;
  }
  
  .nav-menu {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: var(--white);
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    gap: 1rem;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transform: translateY(-100%);
    opacity: 0;
    transition: all 0.3s ease;
    pointer-events: none;
  }
  
  .nav-menu.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
  }
  
  .hero-content h1 {
    font-size: 2rem;
  }
  
  .hero-content p {
    font-size: 1rem;
  }
  
  .section {
    padding: 3rem 0;
  }
  
  .section__title {
    font-size: 2rem;
  }

  .apply__content {
      grid-template-columns: 1fr;
  }

  .form__row {
      grid-template-columns: 1fr;
  }

  .apply__info {
      position: static;
  }
  .principals__grid {
      grid-template-columns: 1fr;
  }

  .footer__content {
      grid-template-columns: 1fr;
      text-align: center;
  }

  .footer__links,
  .footer__contact {
      margin-top: 2rem;
  }
}

@media (max-width: 430px) {
  .logo-img {
    width: 90px;
    margin-right: 0;
  }

  .nav-actions {
    display: none;
  }

  .hero-video {
    height: 70vh;
  }

  .hero-content {
    margin-left: 1rem;
  }

  .hero-content h1 {
    font-size: 3rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .about__image {
    display: none;
  }

  .section__title {
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: 5px;
  }

  .section {
    padding: 1.5rem 0;
  }

  .services__subtitle {
    font-size: 1rem;
    text-align: left;
  }

  .principals__grid {
    gap: 1.5rem;
    margin: 20px 20px;
    align-items: center;
  }

  .footer__about p {
    text-align: left;
  }

  .footer__links {
    margin-left: 0;
  }
}